.col{
  padding:30px;

  font-size: 20PX;
  font-family: sans-serif;


}
.row{
  padding:30px;

  font-size: 20PX;
  font-family: sans-serif;


}
.col+1{
  padding-top: 20px;
}
.container{
  border:2px solid #DDD;


margin-top: 10px;
}
.card{
  display: inline-block;
  padding: 10px;
  margin-left: 140px;
  margin-top: 30px;

}
header{
text-align:center;
font-style: italic;
padding-bottom: 10px;
font-size: 30px;
background-color: #81D4FA;
border:2px;
font-family: serif;

}
.alert-info{
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
}
#bb{
  background-color: #29B6F6;
}
h1{
  color:#F50057;
  background-color: #ddd;
  text-align: center;
}
h2{
  color:#F8BBD0;


}
#cont{
  background-color: #000;
}
p{
  color:#fff;
}
#foot{

    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    background-color: #212121;
  }

#navbarSupportedContent{
  background-color: #DDD;;
}
#bb{
  border-radius: 25px;
  background-color: #81D4FA;

}
